

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
	margin-right=450px;
	margin-left = 100px;
  display: inline-block;
  border: 1px solid #99c2ff;
  box-sizing: border-box;
}

button {
  background-color: #94b8b8;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
 margin-right: 100px;
margin-left: 450px;
  border: none;
  cursor: pointer;
  width: 40%;
}

button:hover {
  opacity: 0.8;
}
#a1
{
   border-radius: 5px;
  padding: 5px;
    margin-left:60px;
}
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.container {
  padding: 16px;
}

  .cancelbtn {
     width: 100%;
  }
}
</style>
</head>
<body>
